body.light [id="*-arrow"] {
  fill: black;
}

body.dark #arrow {
  fill: white;
}

@media (active) {
  body #arrow:active {
    fill: #fb7a10;
  }
}

@media (hover) {
  body #arrow:hover {
    fill: #ff9f51;
  }
}

.up-arrow {
  transform: rotate(90deg);
}

.down-arrow {
  transform: rotate(270deg);
}
